.effect-container {
    perspective: 100rem;
    position: relative;
  
}

.feature-grid {
    position: relative;
    height: 260px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    transform-origin: center;
}
.feature-transform-left{
    transform: rotateY(-46deg);
}
 .feature-transform-right{
    transform: rotateY(+46deg);
 }

 .feature-transform-none{
  transform: rotateY(0deg);
}

.feature-grid>a {
    border-radius: 0.75em;
    transition: transform 350ms ease-in-out;
    overflow: hidden;

}

.feature-grid>a:hover,
.feature-grid>a:focus-visible {
    transform: scale(1.1);
    box-shadow: 0 0 1.5rem hsl(0 0% 100% / 0.8);
}

.feature-grid a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
   
}  



.feature-grid > :nth-child(1),
.feature-grid > :nth-child(4),
.feature-grid > :nth-child(5),
.feature-grid > :nth-child(7) {
  grid-row: span 3;
}
 
.feature-grid > :nth-child(2),
.feature-grid > :nth-child(3) {
  grid-row: span 2;
}

.feature-grid > :nth-child(6) {
  grid-column: 2 / span 2;
  grid-row: 3 / span 4;
}

.rtl{
  direction: rtl;
}